@tailwind base;
@tailwind components;
@tailwind utilities;

::selection {
  color: #22c55e;
  background-color: white;
}

dialog::backdrop {
  background: rgba(0, 0, 0, 0.55);
}

/* Scrollbar design */
/* Customize scrollbar for WebKit browsers */
::-webkit-scrollbar {
  width: 12px; /* Width of the entire scrollbar */
}

::-webkit-scrollbar-track {
  background: #eeeeee; /* Color of the scrollbar track */
}

::-webkit-scrollbar-thumb {
  background-color: #22c55e; /* Color of the scrollbar thumb */
  border-radius: 10px; /* Roundness of the scrollbar thumb */
  border: 3px solid #f1f1f1; /* Creates padding around thumb */
}

::-webkit-scrollbar-thumb:hover {
  background: #555; /* Color of the scrollbar thumb when hovered */
}
